<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />

    <meta charset="UTF-8" />
    <title>Help</title>
  </head>
  <body>
     <div class="main-content">
    {{>header}}
      <p>Help Page</p>
      <p>by {{ name }}</p>
    </div>
  
  </body>
  <footer>
    {{>footer}}
  </footer>
</html>
